<form action="/signup" method="POST">
  <div>
    <h1>Sign up</h1>
  </div>
  <div>
    <label>Username</label>
    <input type="text" name="username" placeholder="username">
  </div>
  <div>
    <label>Password</label>
    <input type="password" name="password" placeholder="Password" required>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<a href="signin" class="btn btn-warning">Sign in</a>